.top{
 display: flex;
 justify-content: center; 
 items-align: center;
 position: relative;
  margin-bottom: 20px;
  
}
.TextinPicture1{
  position: absolute;
  top: 200px;
  left: 180px;
}
.TextinPicture2{
 position: absolute;
  top: 220px;
  left: 180px;
  padding-bottom: 10px;
   
} 
 
}
.TopMain{
  display: flex;
  flex-direction: column;
   margin-top: 30px;
  width: 700px;
  font-family: 'Josefin Sans', sans-serif;
 
  
}
.Quote{
  display: flex;
  flex-direction: space-evenly;
  justify-content: center;
  items-align: center;  
  background-color: black;
  width: 600px;
  height: 100px; 
  position: relative;
    
}
#QuoteColor{
  color: white;
}
#QuotationMark{
  display: flex;
  color: white;
  position: absolute;
  top: -30px;
  left: 0px;
  
}
.main{
  display: flex;
  justify-content: center;
  
}
.Font{
  font-family: 'Josefin Sans', sans-serif;
}


